body
{
    text-align: center;
    background-color: gold
}
button
{
    width:75px;
    height:75px;
}

img
{
    width:70px;
    height:100px;
}


.axis text{
    font-size: 16;
    font-family: fantasy;
}